.footer{
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}
.footer i{
   font-size: 30px;  
   transition: color 0.15s; 
}
.footer i:hover{
    color: gray;
}
