.header{ 
    display: flex;
    justify-content: space-between;  
    align-items: center;     
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 100;
}
.left{
    display: flex;
    justify-content: space-evenly;            
}
.nav-bar{    
    font-weight: 300;
    padding: 12px 24px;
    color: white;
    transition: color 0.15s,background-color 0.15s,opacity 0.15s;
}
.nav-bar:hover{
    color: black;
    border-color: white;
    background-color: white;
    opacity: 0.8;
}
.btn-search{
    border-style:solid;
    color: white;
    background-color: black;
    padding: 12px 24px;
    transition: border-color 0.15s,background-color 0.15s;
}
.btn-search:hover{   
    border-color: red;        
    background-color: red;
}